Package: com.MarcoSinghof.NoSlowAnimations
Name: NoSlowAnimations
Pre-Depends: firmware (>= 7.0.3)
Depends: mobilesubstrate
Version: 4.1
Architecture: iphoneos-arm
Description: Don’t get slowed down by the animations on iOS 7 and iOS 8
Maintainer: Marco Singhof
Author: Marco Singhof
Section: Tweaks
