Package: com.MarcoSinghof.NoSlowAnimations
Name: NoSlowAnimations
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Don’t get slowed down by the animations on iOS 7.
Maintainer: Marco Singhof
Author: Marco Singhof
Section: Tweaks
Version: 1.0.2-3
Installed-Size: 72
