<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.marcosinghof.NoSlowAnimations/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.marcosinghof.NoSlowAnimations</string>
			<key>key</key>
			<string>SCisEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Faster | Slower</string>
			<key>label</key>
			<string>Speed</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.marcosinghof.NoSlowAnimations/settingschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.marcosinghof.NoSlowAnimations</string>
			<key>key</key>
			<string>Slider</string>
			<key>max</key>
			<string>1.0</string>
			<key>min</key>
			<string>0.0</string>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring:</string>
			<key>label</key>
			<string>Respring</string>
			<key>pl_filter</key>
			<dict>
				<key>CoreFoundationVersion</key>
				<array>
					<string>1240.10</string>
				</array>
			</dict>
		</dict>
    <dict>
      <key>cell</key>
      <string>PSGroupCell</string>
      <key>footerText</key>
      <string>Volume and Ringtone HUD</string>
      <key>label</key>
      <string>Options</string>
    </dict>
    <dict>
      <key>PostNotification</key>
      <string>com.marcosinghof.NoSlowAnimations/settingschanged</string>
      <key>cell</key>
      <string>PSSwitchCell</string>
      <key>default</key>
      <true/>
      <key>defaults</key>
      <string>com.marcosinghof.NoSlowAnimations</string>
      <key>key</key>
      <string>applyOnHUD</string>
      <key>label</key>
      <string>Speed up HUDs</string>
    </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Buy me a coffee</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>PayPal</string>
      <key>id</key>
      <string>donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Check out the source code on GitHub.</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Twitter</string>
      <key>id</key>
      <string>twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sendEmailTo:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>mail.png</string>
			<key>label</key>
			<string>Email</string>
      <key>id</key>
      <string>sendEmailTo</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>GitHub</string>
      <key>id</key>
      <string>github</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>NoSlowAnimations 5.2.1 © 2015 Marco Singhof

Credits to Karen Tsai @angelXwind, Joe Merlino @joe_merlino</string>
		</dict>
	</array>
	<key>title</key>
	<string>NoSlowAnimations</string>
</dict>
</plist>
